includes:
    - phpstan-baseline.neon
parameters:
    level: 0
    paths:
        - .
    scanFiles:
        - sys/Session/SessionInterface.php
        - sys/Smarty/Smarty.class.php
        - sys/Session/MySQLSession.php
        - sys/File/MARCJSON.php
    scanDirectories:
        - Minify
        - sys/Smarty/sysplugins
        - sys/Smarty/plugins
        - sys/File/MARC
        - CAS-1.3.4
    excludePaths:
        analyse:
            - vendor
            - sys/Session/SessionInterface.php
            - sys/Session/MySQLSession.php   
            - sys/Smarty/Smarty.class.php  
            - sys/File/MARCJSON.php 
            - Minify/*
            - sys/Smarty/sysplugins
            - sys/Smarty/plugins
            - CAS-1.3.4

    ignoreErrors:
        - '#Attribute class JetBrains\\PhpStorm\\NoReturn does not exist.#'